

<div class="questionnaire">

    @if (questions[questionIndex]?.isMessage) {
        <br><br><br><br>   <br><br><br><br>   <br><br><br><br>   
       } 
       @else{ 
           <img src="assets/img/Hoja_3.png" class="" alt="" style="position:absolute; bottom: 25%; width: 10%; right: 0; ">
           <img src="assets/img/Hoja_1.png" class="" alt="" style="position:absolute; z-index: 1; bottom: 13%; width: 13%;">
           <img src="assets/img/Hoja_2.png" class="" alt="" style="position:absolute; z-index: 1; bottom: 35%; width: 6%;">
          
           
       }
    <div class="question" >
        <div class="container">
         
            @if (questions[questionIndex]?.isMessage) {
                <br>
                <span class="g-title" >¡Un placer conocerte, {{ questions[0]?.selected }}!</span>
            } 
            @if (questions[questionIndex]?.isFinished) {
                <img src="assets/img/flowers.png" draggable="false" class="g-img" alt=""><br>
                <span class="g-title">{{ questions[questionIndex]?.question }}</span>
            }
            @else {
                @if (questions[questionIndex]?.isInput) {
                    <span class="g-text">¡Comencemos!</span><br>
                }
                <span class="g-title">{{ questions[questionIndex]?.question }}</span><br>
                <span class="g-text">{{ questions[questionIndex]?.subQuestion }}</span>
            }

            <!--input [(ngModel)]="questionIndex" type="text" maxlength="50" placeholder="Indicanos tu nombre aquí" class="form-control" -->
        </div>
    </div>


    <div class="container options">

        @if (questions[questionIndex]?.isInput) {
            <div class="form-group gw-30"  >
                <label class="g-text required" >Nombre</label>
                <input [(ngModel)]="questions[questionIndex].selected" type="text" maxlength="50" placeholder="Escribe tu nombre" class="form-control" [ngClass]="{ 'required-error': !questions[questionIndex]?.selected && questions[questionIndex]?.showRequired }">
                
                @if (!questions[questionIndex]?.selected && questions[questionIndex]?.showRequired) {
                    <span class="g-text-sm gw-30" style="color: red;">¡Espera! ingresa aquí tu nombre</span>
                }
                <br>

                <label class="g-text required" >País</label>
                <div class="item">
                <select [(ngModel)]="questions[questionIndex].country" class="form-select" aria-label="Default select example"  [ngClass]="{ 'required-error': !questions[questionIndex]?.country && questions[questionIndex]?.showRequired }">
                    <option value="AR">Argentina</option>
                    <option value="CH">Chile</option>
                    <option value="CO">Colombia</option>
                    <option value="CR">Costa Rica</option>
                    <option value="ES">El Salvador</option>
                    <option value="GU">Guatemala</option>
                    <option value="HO">Honduras</option>
                    <option value="MX">México</option>
                    <option value="PA">Panamá</option>
                    <option value="UY">Uruguay</option>
                    <option value="VZ">Venezuela</option>
                  </select>                    
                </div>

                  @if (!questions[questionIndex]?.country && questions[questionIndex]?.showRequired) {
                      <span class="g-text-sm gw-30" style="color: red;">¡Espera! ingresa aquí tu país</span>
                  }
            </div>
        } @else {
            @for (option of questions[questionIndex]?.options; track $index) {
                <div (click)="selectOption(questionIndex, option.value, questions[questionIndex]?.multi)" class="option-btn gw-30">
                    <span [ngClass]="{ 'checkbox': questions[questionIndex]?.multi, 'radio': !questions[questionIndex]?.multi, 'active': isActive(questionIndex, option.value, questions[questionIndex]?.multi) }" ></span>
                    <label class="g-text">{{ option.label }}</label>
                </div>
            }
    
            @if ((!questions[questionIndex]?.selected || questions[questionIndex]?.selected.length == 0) && questions[questionIndex]?.showRequired) {
                <span class="g-text-sm gw-30" style="color: red;">¡Espera! ingresa tu respuesta</span>
            }
        }
        <div [innerHTML]="questions[questionIndex]?.footer" class="g-footer"></div>
    </div>

 <!--  #cee7b4  style="position: absolute; z-index: 1; bottom: 10%;" [style.margin-left]="questions[questionIndex]?.margin + '%'" alt="" -->
 <div class="progress" style="height: 25px; width: 100%; background:  #84c344;" >
    <div class="progress-line" [style.width]="((questionIndex + 1) * 5) + '%'" style="height: 25px; width: 100%;  opacity: 100%; background:  #006d46;"></div>
</div>
    <div class="footer-btns">
        <button (click)="prevQuestion()" class="g-text secondary-btn" style="color:  #006d46;">
            <i class="fa fa-chevron-left"></i> Regresar
        </button>
        @if(questions[questionIndex]?.isFinished){
            <button (click)="showProducts()" class="g-text primary-btn" style="background-color:  #006d46;">
                Mis resultados <i class="fa fa-chevron-right"></i>
            </button>
        } @else {
            <button (click)="nextQuestion()" class="g-text primary-btn" style="background-color:  #006d46;">
                Continuar <i class="fa fa-chevron-right"></i>
            </button>
        }

    </div>

</div>

