

.questionnaire {
    height: calc(100% - 70px); 
    display: flex;
    flex-direction: column;
}

.question {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column; 
    height: 25%; 

    background: #f2f2f2;
    text-align: center;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65%; 
    padding: 1rem;
    overflow-y: auto;
    z-index: 2;
}

.option-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 600;

    .checkbox, .radio { 
        display: inline-block;
        flex-basis: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 20px;
        border: 2px solid #000;
    }

    .radio {
        border-radius: 50%;
    }

    .radio.active, .checkbox.active {
        background-color: #84c344;
    }

    &:hover {
        cursor: pointer;
        background-color: #f2f2f2;
    }
}

.required-error {
    border-color: red !important;
}

.g-img {
    width: 100px;
    height: 100px;
    border: 2px solid #006d46;
    border-radius: 50%;
}

.g-footer {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: 2rem;
}

.form-select{
    font-family: "GTWalsheimPro-Regular";
    font-size: 25px;
}


.form-select:focus {
    border-color: #006d46;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}


// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) {

    .form-select{
        font-size: 18px;
    }

}


// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) {

    .form-select{
        font-size: 18px;
    }



}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {

    .form-select{
        font-size: 20px;
    }

}

// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) {

    .form-select{
        font-size: 20px;
    }

}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {

    .form-select{
        font-size: 25px;
    }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1799px) {

    .form-select{
        font-size: 25px;
    }
 
}


@media (min-width: 1800px) {
    .g-img {
        width: 125px;
        height: 125px;
    }


    
}