<div>

    <img src="assets/img/headerResult1_2.png" draggable="false" style="width: 100%;" alt="">

    <div class="container" style="padding-bottom: 2rem;">
        <div class="name-section">
            <div class="cart-name">
                @if (clientName) {
                    <span class="g-title">¡Hola, {{ clientName }}!</span>
                } @else {
                    <span class="g-title">Contesta el questionario</span>
                }
            </div>
    
            <span class="g-subtitle gw-50 text-center" style="font-weight: 600; margin-top: 180px;">Con base a las respuesta a la evaluación, hemos reunido estas recomendaciones de productos para apoyar tu camino hacia el bienestar.</span>
        </div>
    </div>

    <img src="assets/img/headerResult2_3.png" draggable="false" style="width: 100%;" alt="">
    <div class="vertical-line">
        <span></span>
    </div>
    
    <div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
        <div class="row">
            @for (product of recommendedProducts; track $index) {
                @if(($index + 1) <= numberProducts) {
                    <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 1rem;">
                        <div class="cart-product">
                            <img [src]="product.img" draggable="false" alt="">
                            <div>
                                <span class="g-subtitle" style="margin-bottom: .5rem;"><b>{{ product.name }}</b></span>
                                <span class="g-text-sm"><b>¿Por qué recomendamos esto?</b></span>
                                <span class="g-text-sm" style="margin-bottom: 2rem;">{{ product.whyIsRecommended | slice: 0: 800 }}</span>
                                <button (click)="openLink(product.linkBuy)" class="primary-btn g-text-sm" style="margin: 0;">
                                    Comprar ahora
                                </button>
                            </div>
                        </div>
                    </div>
                }
            } @empty {
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <span class="g-subtitle text-center mb-4">Lo sentimos, no tenemos ninguna recomendación de productos aquí, debido a algunas de tus respuestas</span>
                    <button class="primary-btn g-subtitle" (click)="startQuestionnaire()"  style="margin: 0;">
                        Comenzar cuestionario
                    </button>
                </div>
            }
        </div>

        <!-- @if (recommendedProducts && recommendedProducts.length > 0) {
            @if (numberProducts == 4) {
                <p  (click)="numberProducts = 4;" class="g-text text-center green" style="cursor: pointer;"></p>
            }@else {
                <p  (click)="numberProducts = 4;" class="g-text text-center green" style="cursor: pointer;">Mostrar menos productos</p>
            }
        } -->

    </div>
    <div style="text-align: center;">    
        <h4 class="g-text-md" style="padding-bottom: 20px; color: green;">Consulta la disponibilidad de productos en tu país</h4>
</div>
    <img src="assets/img/headerResult3_4.png" draggable="false" style="width: 100%;" alt="">
    <div class="vertical-line">
        <span></span>
    </div>

    <div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12" > 
                
                <div  class="cart-recommendation" >
                   <img src="assets/img/Tip1.png" draggable="false" alt="" style="border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="recommendation-body">
                        <span class="g-text" style="margin-bottom: .5rem;"><b>El agua es vital para el organismo</b></span>
                        <span class="g-text-sm" style="margin-bottom: 2rem; height:150px;">La sed es una señal de deshidratación. Es indispensable tomar agua antes que aparezca la sed. Después de saciar la sed se recomienda seguir tomando líquidos durante el día.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12" >
                <div  class="cart-recommendation">
                    <img src="assets/img/Tip2.png" draggable="false" alt="" style="border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="recommendation-body">
                        <span class="g-text" style="margin-bottom: .5rem;"><b>El sueño de calidad</b></span>
                        <span class="g-text-sm" style="margin-bottom: 2rem; height:150px;">Dormir ayuda a mantener el sistema nervioso y el cuerpo en óptimas condiciones. Tener un sueño de calidad y con las horas necesarias, mínimo 7, mejora el estado de ánimo, reduce el estrés y el riesgo de afectaciones físicas.
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div  class="cart-recommendation">
                    <img src="assets/img/Tip3.png" draggable="false" alt="" style="border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="recommendation-body">
                        <span class="g-text" style="margin-bottom: .5rem;"><b>Los beneficios de la salud oral</b></span>
                        <span class="g-text-sm" style="margin-bottom: 2rem; height:150px;">Cuidar las encías y los dientes con una buena higiene (cepillado y uso de hilo dental) y consumiendo alimentos fuentes de calcio como lácteos, vegetales y pescados ayuda a mantenerlos sanos y hace que sea más fácil comer y disfrutar de la buena alimentación.
                        </span>
                    </div>
                </div>
            </div>
<br>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
                <div  class="cart-recommendation">
                    <img src="assets/img/Tip4.png" draggable="false" alt="" style="border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="recommendation-body">                        
                        <span class="g-text" style="margin-bottom: .5rem;"><b>Importancia de cuidar la vista</b></span>
                        <span class="g-text-sm" style="margin-bottom: 2rem; height:150px;">Una visión saludable requiere de diversas formas de cuidado como descansar adecuadamente, proteger los ojos de los rayos UV con el uso de gafas de sol, tener una buena iluminación y consumir alimentos fuentes de carotenos como la zanahoria y de vitamina A como los pescados.
                        </span>
                    </div>
                </div>
            </div>
<br>
            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
                <div  class="cart-recommendation">
                    <img src="assets/img/Tip5.png" draggable="false" alt="" style="border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="recommendation-body">                        
                        <span class="g-text" style="margin-bottom: .5rem;"><b>Técnicas que ayudan a lograr el bienestar</b></span>
                        <span class="g-text-sm" style="margin-bottom: 2rem; height:150px;">Hay diversas técnicas que pueden ayudar a disminuir el estrés, a mantener el bienestar físico y emocional. La relajación, la meditación y el ejercicio pueden ayudar a adquirir habilidades para controlar las situaciones difíciles, aumentar la autoconciencia y asumir actitudes de autocuidado.
                        </span>
                    </div>
                </div>
            </div>
<br>

            <div class="col-lg-4 col-md-6 col-sm-12" style="margin-top: 10px;">
                <div  class="cart-recommendation">
                    <img src="assets/img/Tip6.png" draggable="false" alt="" style="border-top-right-radius: 20px; border-top-left-radius: 20px;">
                    <div class="recommendation-body">
                        <span class="g-text" style="margin-bottom: .5rem;"><b>Cuidado y protección de la piel</b></span>
                        <span class="g-text-sm" style="margin-bottom: 2rem; height:150px;">La protección solar, una alimentación sana que aporte frutas y vegetales, una hidratación adecuada y una limpieza cuidadosa, pueden contribuir en el mantenimiento de una piel radiante e hidratada.
                        </span>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <img src="assets/img/headerResult2_3.png" draggable="false" style="width: 100%;" alt="">
   <!--  <img src="assets/img/headerResult4.png" draggable="false" style="width: 100%;" alt=""> -->
    <div class="vertical-line">
        <span></span>
    </div>



    <div class="container" style="padding-top: 2rem; padding-bottom: 2rem;">


        <div style="margin-bottom: 3rem;">
            <span class="g-text text-center">¿Deseas conocer más sobre <b style="color: green;">NUTRILITE™</b> y nuestros productos?</span>
            <span (click)="startQuestionnaire()" class="g-text text-center" style="cursor: pointer; text-decoration: underline;">Contestar nuevamente la evaluación</span>
        </div>


        <div style="display: flex; justify-content: center; margin-bottom: 2rem;">
            <form [formGroup]="sendForm" (ngSubmit)="submitForm()" class="gw-50" >
                <div class="form-group">
                    <label class="g-text required" >Dirección de correo electrónico</label>
                    <p-chips formControlName="emails" (onAdd)="addEmail($event)" [max]="3" [allowDuplicate]="false" [addOnTab]="true" [addOnBlur]="true"  placeholder="Puedes enviar estas recomendaciones hasta 5 correos "></p-chips>

                    @if (cSend['emails'].errors && isFormSubmitted) {
                        @if (cSend['emails'].errors['required']) {
                            <span style="color: red;"><i class="fa-solid fa-circle-info"></i> Campo requerido</span>
                        }
                    }
                </div>

                <div class="form-group mb-4">
                    <label class="g-text" >Nota adicional</label>
                    <textarea formControlName="aditionalNote" rows="4" class="form-control"></textarea>
                </div>

                <div style="margin-bottom: 2rem;">
                    <div style="display: flex; gap: 1rem;">
                        <input formControlName="captcha" (change)="validateCaptcha()" type="text" class="form-control" >
                        
                        <span class="g-text" style="text-decoration: line-through; padding: 0.5rem 1rem; border: 1px solid green; display: inline;">{{ captcha }}</span>
                        
                        <button (click)="makeCaptcha()" type="button" class="secondary-btn g-text" style="margin: 0;">
                            <i class="fa-solid fa-rotate"></i>
                        </button>
                    </div>
    
                    @if (cSend['captcha'].errors && isFormSubmitted) {
                        @if (cSend['captcha'].errors['required']) {
                            <span style="color: red;"><i class="fa-solid fa-circle-info"></i> Campo requerido</span>
                        }
                    }@else if (!captchaIsValid && isFormSubmitted) {
                        <span style="color: red;"><i class="fa-solid fa-circle-info"></i> El captcha no es valido</span>
                    }
                </div>
    
               <div style="display: flex; justify-content: end;">
                    <button class="primary-btn g-text" style="margin: 0;">
                        Enviar <i class="fa-regular fa-envelope"></i>
                    </button>
               </div>
            </form>
        </div>
    </div>

</div>

<div id="toast" class="toast">
    <i class="fa fa-check"></i>
    <span>Correo enviado correctamente</span>
</div>

<div style="visibility: hidden; height: 0px; overflow-y: hidden;">
    <div id="mail" style="display: flex; align-items: center; justify-content: center; background-color: #fff;">
    
        <div style="padding: 2rem;">
            <h1 style="color: green; text-align: center; font-size: 3rem;">Tus recomendaciones de Nutrilite</h1>
    
            <p style="color: #444; font-size: 1.2rem;">Aqui estan tus recomendaciones de productos Nutrilite personalizadas según tu evaluación de suplementos recientemente completada.</p>
    
            <p style="color: #444; font-size: 1.2rem; margin-bottom: 2rem;"><b>Notas adicionales:</b> {{ vSend.aditionalNote }}</p>
    
            <div style="border: 1px solid #ccc; padding: 1rem;">

               
         
            <div class="row">
                    @for (product of recommendedProducts; track $index) {
                    @if(($index + 1) <= numberProducts) {
         
                    <div class="col-lg-6 col-md-12 col-sm-12">
                    <div style="padding: 1rem; border-bottom: 1px solid #ccc; display: flex; align-items: center; gap: 1rem; border-radius: 10px; margin-bottom: 1rem;">
                        <img [src]="product.emailImg" draggable="false" style="width: 120px;" alt="">
                        <div>
                            <span style="margin-bottom: .5rem; font-size: 2.2rem; display: block;"><b>{{ product.name }}</b></span>
                            <span style="font-size: 1rem; display: block;"><b>¿Por qué recomendamos esto?</b></span>
                            <span style="font-size: 1rem; margin-bottom: 2rem; display: block;" >{{ product.whyIsRecommended | slice: 0: 200 }}</span>
                            <a [href]="product.linkBuy" style="margin: 1rem 0; padding: 0.5rem 2.5rem; background-color: green; color: #fff; border-radius: 50px; outline: none; border: none; display: block;  width: fit-content; cursor: pointer;">
                                Comprar ahora
                            </a>
                            <small style="margin-top: 2rem; color: green; font-size: 1rem;">Consulta la disponibilidad de productos en tu país</small>
                        </div>
                    </div>
                </div>
                }

                    
                }
            </div>
            </div>
           
            <div style="display: flex; justify-content: center; margin-top: 1rem;">
                <div style="display: flex; gap: 2rem; justify-content: center;">
                    <div style="margin-right: 2rem;">
                        <img src="https://seeklogo.com/images/A/amway-logo-4F4A71602F-seeklogo.com.png" style="width: 200px" alt="">
                    </div>
                    <div>
                        <p style="color: #444;">Si deseas comunicarte con un representante de servicio al cliente, llama a 01-800-833-8300</p>
                        <p style="color: #444;">Horario de atención de 9 am. a 10 pm.</p>
                        <p style="color: #444;">(Tiempo del centro de México)</p>
                        <a href="www.amway.com.mx">www.amway.com.mx</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>