

.name-section {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    position: relative;
}


.cart-name {
    border: 1px solid #ccc; 
    width: 50%; 
    height: 200px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: absolute;
    top: -15%;
    background-color: #fff;
}

.cart-product {
    padding: 1rem; 
    border: 1px solid #ccc; 
    display: flex; 
    align-items: center; 
    gap: 1rem; 
    border-radius: 10px;
    height: 100%;
    width: 100%;

    img {
        width: 250px; 
        flex-grow: 0; 
        flex-shrink: 0;
    }
}


.card{
    padding: 2rem; 
    display: flex; 
    align-items: center; 
    gap: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 650px;
    flex-direction: column;

    img {
        max-width: 400px;
        max-height: 400px; 
        flex-grow: 0; 
        flex-shrink: 0;
    }
}

.card div{
    position:absolute;
    padding: 5rem;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
    background-color: transparent;
}

.card  button{
    position: absolute;
    margin: 15px; 
    bottom: 0;
    background-color: #006d46; 

}

.buttonClick-text{
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: underline;
    font-family: "GTWalsheimPro-Light";
    color: #84c344;
    cursor: pointer; 
    bottom: 0; 
    position: absolute; 
    margin-bottom: -5px;
}

.card .front{
    
transform: perspective(900px) rotateY(0deg);

}

.card .back{
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: auto;
transform: perspective(900px) rotateY(180deg);

}

.card.card-active .front{

transform: perspective(900px) rotateY(180deg);

}

.card.card-active .back{

transform: perspective(900px) rotateY(360deg);

}

.whyIsRecommended-Text{
    display: block;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    font-family: "GTWalsheimPro-Light";
}

.product-name{
    display: block;
    font-weight: 400;
    font-size: 2.3rem;
    font-family: "GTWalsheimPro-Regular";
}

.cart-recommendation {
    border: 1px solid #ccc; 
    border-radius: 20px; 
    margin-bottom: 1rem;
    height: 100%;

    img { 
        width: 100%;
    }

    .recommendation-body {
        display: flex; 
        flex-direction: column; 
        padding: 1rem;
    }
}

.vertical-line {
    text-align: center;

    span {
        display: inline-block;
        width: 3px;
        height: 50px;
        background-color: #84c344;
    }
}

p-chips{
    font-size: 5px;
}

.green-link {
    color: green; 
    margin-top: 2rem; 
    display: block; 
    font-weight: 600; 
    cursor: pointer;
}

.toast {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 5%;
    right: 10%;
    visibility: hidden;
    transition: .5s linear;

    i {
        font-size: 2rem;
        color: green;
    }

    span {
        font-weight: 500;
    }
}

.toast.show {
    visibility: visible;
    transition: .5s linear;
}

.headers{
    width: 100%;
}

///Share buttons
/// 
.btn-circle {
    width: 55px;
    height: 55px;
    border-radius: 35px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 35px;
    background-color: #222;
    border: none;
}

.share-button{
    padding: 15px; 
    text-align: center; 
    width: 12%;
}


// extra Small devices (smartphones, 576px and down)
@media (min-width: 250px) and (max-width: 374px) { 
    .cart-name {
        width: 70%; 
        height: 130px;
    }
    
    .cart-product {
        img {
            width: 100px; 
        }
    }

    .card{
        img {
            width: 80%;
        }

    }

    .product-name{
        font-size: 1.8rem;
    }

    .whyIsRecommended-Text{
        
        font-size: .9rem;
    }

    .headers{
        width: 600px;
        margin-left: -100px;
    }

    .btn-circle {
        width: 40px;
        height: 40px;
        font-size: 25px;

    }

    .share-button{
        width: 15%;
    }
}


// Small devices (smartphones, 576px and down)
@media (min-width: 375px) and (max-width: 576px) { 
    .cart-name {
        width: 70%; 
        height: 130px;
    }
    
    .cart-product {
        img {
            width: 100px; 
        }
    }

    .card{
        img {
            width: 80%; 
        }
    }

    .product-name{
        font-size: 1.8rem;
    }

    .whyIsRecommended-Text{
        font-size: .9rem;
        width: 320px;

    }

    .headers{
        width: 600px;
        margin-left: -100px;
    }

    .btn-circle {
        width: 40px;
        height: 40px;
        font-size: 25px;

    }

    .share-button{
        width: 15%;
    }

}

// Medium devices (tablets, 768px and down)
@media (min-width: 577px) and (max-width: 768px) {
    .cart-name {
        width: 50%; 
        height: 150px;
    }
    
    .cart-product {
        img {
            width: 100px; 
        }
    }

    .card{
        img {
            width: 100%;
        }
    }

    .product-name{
        font-size: 2rem;
    }

    .whyIsRecommended-Text{
        font-size: .9rem;

    }

    .btn-circle {
        width: 40px;
        height: 40px;
        font-size: 25px;

    }

    .share-button{
        width: 15%;
    }
}

// Large devices (desktops, 992px and dpwn)
@media (min-width: 769px) and (max-width: 1024px) { 
    .cart-name {
        width: 35%; 
        height: 165px;
    }
    
    .cart-product {
        img {
            width: 100px; 
        }
    }

    .card{
        img {
            width: 100%;
        }
    }

    .product-name{
        font-size: 2.1rem;
    }

    .whyIsRecommended-Text{
        font-size: .9rem;

    }

    .btn-circle {
        width: 40px;
        height: 40px;
        font-size: 25px;

    }

    .share-button{
        width: 15%;
    }
}

// X-Large devices (large desktops, 1399px and down)
@media (min-width: 1025px) and (max-width: 1399px) {
    .cart-name {
        width: 35%; 
        height: 165px;
    }
    
    .cart-product {
        img {
            width: 100px; 
        }
    }

    .card{
        img {
            width: 100%;
        }
    }

    .card2{
        img {
            width: 500px; 
        }

    }

    .product-name{
        font-size: 2.1rem;
    }

    .whyIsRecommended-Text{
        font-size: .9rem;

    }


}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1799px) {
    .cart-name {
        width: 35%; 
        height: 180px;
    }
}

@media (min-width: 1800px) {
    
}

