
<div class="home-section" >
    <div class="home-cart">
        <span class="g-title-xl mb-4" style="color: green;">Tu salud es personal.<br>Estas recomendaciones tambien lo son.</span>
        <span class="g-text mb-4"><b>Elimina las conjeturas cuando se trata de tu bienestar</b></span>

        <button (click)="startQuestionnaire()" class="primary-btn g-subtitle" style="margin: 0; margin-bottom: 2rem;">
            Iniciar evaluación
        </button>

        <span class="g-text-sm"><b>¿Quieres <span style="color: green;">conocer más</span> antes de comenzar?</b></span>
    </div>
</div>


<app-footer></app-footer>