<div style="padding-bottom: 4rem; height: 70%;">
    
    
    <div class="start-section">
        <img src="assets/img/homee.png" draggable="false" style="width: 100%; height:100%;" alt="">
        
        <div class="cart-start">            
            



            <span class="g-title-xl mb-4">Recomendador de bienestar/ <br> Recomendador de bem-estar</span>            
            <div class="mb4 pb4">
               <img src="assets/img/logo.png" draggable="false" alt="" class="logo-img mb4">  
            </div>
            <span class="g-subtitle mb-4">Selecciona tu idioma/ Selecione o seu idioma</span>


            <div class="row">
                <div class="col-lg-6 mb-4" style=" justify-content: center; align-items: center; display: flex;">
            <button class="primary-btn g-subtitle" [routerLink]="['/how-does-it-work']" style=" background-color:  #006d46;" >
                Español
            </button>                    
                </div>
                <div class="col-lg-6 mb-4" style=" justify-content: center; align-items: center; display: flex;">
            <button class="primary-btn g-subtitle" [routerLink]="['/how-does-it-work']" style=" background-color:  #006d46;" >
                Portugués
            </button>                         
                </div>                
            </div>


           
      

        </div>
    </div>
</div>
