

<div class="how-does-it-work">

    <div class="header-how-work">
        <div class="container">
            <span class="g-title">¿Cómo funciona?</span><br>
            <span class="g-text"><b>En unos 5 minutos,</b> responderás unas preguntas y luego, nosotros haremos el resto. Recibirás consejos sobre productos y bienestar;</span><br>

            <span class="g-subtitle green" style="font-weight: bold;" >Todo respaldado por un grupo de cientifícos y 85 años de experiencia</span>
        </div>
    </div>

    <div class="container body-how-work">

        <div class="row">
            <div class="col-md-6 col-sm-12" style="margin-bottom: 3rem;">
                <div class="c-list">
                    <img src="assets/img/1.png" draggable="false" alt="">
                    <span class="g-text text-center">
                        <b>Completa la evaluación</b> con preguntas simples sobre tus intereses y estilo de vida
                    </span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12" style="margin-bottom: 3rem;">
                <div class="c-list">
                    <img src="assets/img/2.png" draggable="false" alt="">
                    <span class="g-text text-center">
                        <b>Recibe recomendaciones</b> solo para ti, según tus respuesta y necesidades
                    </span>
                </div>
            </div>
        </div>

        <div class="row" style="width: 100%;">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12" style="margin-bottom: 3rem;">
                <div class="c-list">
                    <img src="assets/img/3.png" draggable="false" alt="">
                    <span class="g-text text-center">
                        <b>Comienza tu camino al bienestar</b> con consejos de expertos y productos. Si las cosas cambian, ¡Allí estaremos para ti!
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-12"></div>
        </div>
        
    </div>

    <img src="assets/img/Hoja_3.png" class="" alt="" style="position:absolute; bottom: 25%; width: 10%; right: 0; ">
    <img src="assets/img/Hoja_1.png" class="" alt="" style="position:absolute; z-index: 1; bottom: 15%; width: 13%;">
    <img src="assets/img/Hoja_2.png" class="" alt="" style="position:absolute; z-index: 1; bottom: 35%; width: 6%;">


   
    
    <div class="progress" style="height: 50px; width: 100%;" >
    <div class="progress-line" [style.width]="'2%'" style="height: 50px; width: 100%;">
    </div>
    </div>

    <div class="footer-btns">
        <button (click)="back()" class="g-text secondary-btn">
            <i class="fa fa-chevron-left"></i> Regresar
        </button>

        <button (click)="startQuestionnaire()" class="g-text primary-btn">
            Empezar <i class="fa fa-chevron-right"></i>
        </button>
    </div>

</div>

