



    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm-footer">
                <b>Este produto não tem o objetivo de diagnosticar, tratar, curar nem prevenir qualquer tipo de doença.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm-footer">
                Todos os direitos reservados à Amway 2021 © Copyright Termos de uso.
            </span>
        </div>
    </footer>    

