


@if (code == 'mx') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>ESTE PRODUCTO NO ES UN MEDICAMENTO. EL CONSUMO DE ESTE PRODUCTO ES RESPONSABILIDAD DE QUIEN LO RECOMIENDA Y DE QUIEN LO USA.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'gt') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>ESTE PRODUCTO NO DEBE USARSE PARA EL DIAGNÓSTICO, TRATAMIENTO, CURA O PREVENCIÓN DE ALGUNA ENFERMEDAD Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA.</b>
                <br>
                <b>VENTA LIBRE. VÍA DE ADMINISTRACIÓN ORAL.</b>
                <br>
                <b>NO USAR EN NIÑOS.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'sv') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>ESTE PRODUCTO NO DEBE USARSE PARA EL DIAGNÓSTICO, TRATAMIENTO, CURA O PREVENCIÓN DE ALGUNA ENFERMEDAD Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA.</b>
                <br>
                <b>VENTA LIBRE. VÍA DE ADMINISTRACIÓN ORAL.</b>
                <br>
                <b>NO USAR EN NIÑOS.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'hn') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'pa') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'cr') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>ESTE PRODUCTO NO DEBE USARSE PARA EL DIAGNÓSTICO, TRATAMIENTO, CURA O PREVENCIÓN DE ALGUNA ENFERMEDAD Y NO SUPLE UNA ALIMENTACIÓN EQUILIBRADA.</b>
                <br>
                <b>NO USAR EN NIÑOS.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'ar') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>“SUPLEMENTA DIETAS INSUFICIENTES. CONSULTE A SU MÉDICO Y/ O FARMACÉUTICO".</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'cl') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>"Su uso no es recomendable para consumo por menores de 8 años, embarazadas y nodrizas, salvo indicación profesional competente y no reemplaza a una alimentación balanceada".</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'uy') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>“SUPLEMENTA DIETAS INSUFICIENTES. CONSULTE A SU MÉDICO Y/ O FARMACÉUTICO".</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'co') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>ESTE PRODUCTO NO SIRVE PARA EL DIAGNOSTICO, TRATAMIENTO, CURA</b>
                <br>
                <b>O PREVENCIÓN DE ALGUNA ENFERMEDAD Y NO SUPLE UNA ALIMENTACIÓN</b>
                <br>
                <b>EQUILIBRADA. MANTÉNGASE FUERA DEL ALCANCE DE LOS NIÑOS.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 've') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}@else {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}