


@if (code == 'mx') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'gt') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'sv') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'hn') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'pa') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'cr') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'ar') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'cl') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'uy') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 'co') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}
@else if (code == 've') {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}@else {
    <footer>
        <div class="text-center" style="padding: 1.5rem; background-color: #f1f1f1; margin-top: 100px;">
            <span class="g-text-sm">
                <b>Este producto no pretende diagnosticar, tratar, curar ni prevenir ninguna enfermedad.</b>
            </span>
        </div>
        <div class="text-center" style="padding: .5rem;">
            <span class="g-text-sm">
                Todos los derechos reservados Amway 2021 © Copyright Términos de uso.
            </span>
        </div>
    </footer>    
}