<div style="padding-bottom: 4rem; height: 100%;">
    
    
    <div class="start-section">
        <img src="assets/img/home.jpg" draggable="false" style="width: 100%;" alt="">
        
        <div class="cart-start">
            <span class="g-title-lg mb-4">El bienestar total se puede lograr.</span>

            <span class="g-subtitle mb-4">¡Te podemos ayudar!</span>

            <button class="primary-btn g-subtitle" [routerLink]="['/how-does-it-work']" >
                Completa la evaluación
            </button>
        </div>

    </div>
</div>



<app-footer></app-footer>