<div style="padding-bottom: 4rem; height: 70%;">
    
    
    <div class="start-section">
        <img src="assets/img/home_6.png" draggable="false" style="width: 100%; height:100%;" alt="">
        
        <div class="cart-start">
            <div class="mb4 pb4">
               <img src="assets/img/logo.png" draggable="false" alt="" class="logo-img mb4">  
            </div>
           
            <span class="g-title-xl mb-4">El bienestar total se puede lograr</span>

            <span class="g-subtitle mb-4">¡Te podemos ayudar!</span>

            <button class="primary-btn g-subtitle" [routerLink]="['/how-does-it-work']" style=" background-color:  #006d46;" >
                Completa la evaluación
            </button>
        </div>
    </div>
</div>
