<div class="navbar">
    <span class="g-text-nav" [routerLink]="['/start-questionnaire']" style="cursor: pointer; font-weight: bold;">Recomendador Nutrilite™ de bem-estar</span>

    <div class="dropdown dropstart" >
        <button type="button" class="toggle-btn" id="toggleMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>
    
        <div class="dropdown-menu" id="toggleDropdown" aria-labelledby="toggleMenu">

            <a (click)="closeSubMenu2()" [routerLink]="['/start-questionnaire']" routerLinkActive="active-route" class="dropdown-item g-text" href="javascript:void(0)">Recomendador</a>
            <a href="https://www.amway.com.br/pt/Nutri%C3%A7%C3%A3o/c/nutricao?utm_source=site&utm_medium=home&utm_campaign=br_pt_site_trazabilidad&utm_content=cta_compra&utm_term=linea_nutricao" class="dropdown-item g-text">Comprar</a>
            <hr>

            <a (click)="closeSubMenu2()" [href]="'https://recomendador-amway.web.app/#/start-questionnaire'" routerLinkActive="active-route" class="dropdown-item g-text" href="javascript:void(0)">Espanhol</a>
            <a (click)="closeSubMenu2()" [href]="'https://recomendador-br-amway.web.app/#/start-questionnaire'" routerLinkActive="active-route" class="dropdown-item g-text" href="javascript:void(0)">Português</a>
        </div>
    </div>

</div>